@import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");

body {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  font-family: "Rajdhani", sans-serif;
}

h1 {
  color: white;
}

.loginContainer {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;
  margin-top: 300px;
}

.loginButton {
  font-size: 15px;
  padding: 5px 5px;
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  outline: none;
  font-family: "Rajdhani", sans-serif;
}

.userLogin {
  margin-bottom: 5px;
}

input {
  width: 500px;
  padding: 10px;
  background: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  font-family: "Rajdhani", sans-serif;
}

::placeholder {
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  font-style: italic;
  color: white;
}

.lButtonContainer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.signOut {
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  padding: 5px 5px;
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background: transparent;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.dashboardContainer {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}

.dashMain {
  flex: 1;
  padding: 40px;
  margin-top: 120px;
  background: rgba(135, 93, 187);
  border-radius: 20px;
}

.dashGreeting {
  margin-left: 20px;
  font-style: italic;
}

.submitButton {
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  padding: 11px;
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  margin-top: 1px;
  margin-left: 5px;
  height: 50px;
}

.actualMessage {
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px;
}

.displayName {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-right: 30px;
}

.chatContainer {
  display: flex;
}

.sendMessage {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
