body {
  background-color: rgba(108, 92, 108);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.loginContainer {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;
  margin-top: 300px;
}

.loginButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 5px 5px;
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}

.userLogin {
  margin-bottom: 5px;
}

input {
  width: 300px;
  padding: 10px;
  background: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}

::placeholder {
  font-family: sans-serif;
  font-size: 15px;
  font-style: italic;
}

.lButtonContainer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.signOut {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 5px 5px;
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background: transparent;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.dashboardContainer {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}

.dashMain {
  flex: 1;
  padding: 40px;
  margin-top: 170px;
  background: rgba(179, 167, 171);
  border-radius: 20px;
}

.dashGreeting {
  margin-left: 10px;
}

.submitButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 11px;
  width: 100px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
}

.actualMessage {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
}

.displayName {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-right: 30px;
}

.chatContainer {
  display: flex;
}

.sendMessage {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
